html {
  scroll-padding-top: 75px;
  width: 100;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(225, 225, 225);
}
::-webkit-scrollbar-thumb {
  background:rgba(0, 0, 0, .5);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .6);
}

/*nav-bar*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  font-family: Verdana;
  font-size: 20px;
  background: linear-gradient(180deg, rgba(0, 42, 83, 0.9), rgba(2, 52, 153, 0.9));
  display: flex;
  align-items: flex-end;
}
.nav-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 15px;
}
.nav-li {
  margin: 10px;
}
.nav-link {
  text-decoration: none;
  color: rgb(225, 225, 225);
}
.nav-link:hover {
  color: rgb(112, 112, 112);
}
.header-img {
  width: 70px;
  margin: auto auto auto 15px;
}

/*welcome*/

body {
  font-family: Verdana;
  font-size: 19px;
  width: 100%;
  background: linear-gradient(180deg, rgba(158, 158, 158, .5), rgba(225, 225, 225, .5));
  margin: 75px 0px;
  position: unset;
  align-items: center;
}
.welcome {
  display: flex;
  height: 90vh;
  width: 99.25vw;
}
.welcome-content {
  width: 50vw;
}
.slides {
  height: 100%;
  overflow-x: hidden;
}
.welcome-logo {
  width: 50%;
  padding-top: 75px;
}
#open-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  margin: auto;
  background: rgba(225, 225, 225, 1.0);
  border-radius: 3px;
  height: 100%
}
.button {
  background: rgba(0, 0, 0, .8);
  color: rgb(225, 225, 225);
  padding: 10px;
  border-radius: 1px;
  font-size: 25px;
  margin: 12.5px 0px;
  padding: auto;
  align-self: center;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(150deg, rgba(0, 42, 83, 0.9), rgba(2, 52, 153, 0.9));
  transition: 0.25s ease-in-out;
}
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 12.5px 0px;
  font-family: inherit;
  padding: 3px;
  border-radius: 3px;

}
.link:hover {
  color:rgba(2, 52, 153, 0.9);
}
.media-link {
  font-size: 35px;
  text-align: center;
  display: inline;
  padding: 5px;
  cursor: pointer;
}
.icon {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

/* about */

.section-header {
  text-align: center;
  font-family: inherit;
  font-size: 50px;
}
.about {
  background: rgba(158, 158, 158, .15);
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
.about-img {
  width: 30%;
  text-align: center;
}
.about-logo {
  width: 80%;
  padding: 50% 0px;
}
.about-content {
  width: 70%;
  padding: 5% 3%;
  background: rgba(158, 158, 158, .25);
  border-radius: 10%;
}
.about-ul {
  list-style: none;
  padding: 3px;
}

/* team */

.team {
  background: rgba(158, 158, 158, .15);
  width: 100vw;
  overflow-x: hidden;
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
.team-img {
  width: 30%;
  text-align: center;
}
.team-content {
  width: 70%;
  padding: 4%;
  margin: auto;
  background: rgba(158, 158, 158, .25);
  border-radius: 10%;
}
.team-ul {
  padding: 3px;
}
.team-img {
  width: 30%;
  padding: 50px 0px;
}
.staff-img {
  width: 70%;
  margin: auto;
  display: flex;
}

/* how it works */
.how-it-works {
  height: 70vh;
}
.main-iframe {
  height: 500px;
  width: 800px;
  display: flex;
  margin: 150px auto auto auto;
}
.footer {
  font-family: inherit;
  font-size: 14px;
  text-align: center;
}

/* modal */

.modal-bg {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  margin: auto auto;
  display: none;
}
.modal-content {
  background-color: white;
  width: 800px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  position: relative;
}
.hide {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 0px;
  height: 0px;
}
.close {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-img {
  width: 150px;
}
.modal-input{
  width: 50%;
  display: block;
  margin: 10px auto;
  font-family: inherit;
}
#message {
  width: 50%;
  font-family: inherit;
}
#submit {
  margin: 50px;
  display: block;
  margin: 15px auto;
}